@page "/loans/{id:guid}/quoteresult"
@model MoneyMe.Challenge.Web.UI.Pages.QuoteResultModel
@{
}
<form method="post">

    <h1>Your quote</h1>

    <h2>Your information</h2>
    <div class="form-group">
        <label for="LoanApplication.FirstName" class="form-label"><b>First Name</b></label>
        <p>@Model.LoanApplication.FirstName</p>
    </div>
    <div class="form-group">
        <label for="LoanApplication.LastName" class="form-label"><b>Last Name</b></label>
        <p>@Model.LoanApplication.LastName</p>
    </div>
    <div class="form-group">
        <label for="LoanApplication.Mobile" class="form-label"><b>Mobile</b></label>
        <p>@Model.LoanApplication.Mobile</p>
    </div>
    <div class="form-group">
        <label for="LoanApplication.Email" class="form-label"><b>Email</b></label>
        <p>@Model.LoanApplication.Email</p>
    </div>

    <h2>Finance details</h2>
    <div class="form-group">
        <label for="LoanApplication.AmountRequired" class="form-label"><b>Finance Amount</b></label>
        <p>@Model.LoanApplication.AmountRequired.ToString("C")</p>
    </div>
    <div class="form-group">
        <label for="LoanApplication.PMTWithoutInterest" class="form-label"><b>Repayments (during interest-free grace period)</b></label>
        <p>@Model.LoanApplication.PMTWithoutInterest?.ToString("C")</p>
    </div>
    <div class="form-group">
        <label for="LoanApplication.PMT" class="form-label"><b>Repayments (after grace period)</b></label>
        <p>@Model.LoanApplication.PMT?.ToString("C")</p>
    </div>

    <button type="submit" class="btn btn-primary">Apply Now</button>
</form>